* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, 'Times New Roman', Times, serif;
}

.container {
    background-color: #7fffd4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    width: 23.6%;
    height: 2.2em;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: #346beb;
    color: #fff;
    border: none;
    transition: 350ms;
    border-radius: 50px;
}

button:hover {
    cursor: pointer;
    background-color: #1d55d6;
}

#myh {
    font-size: 3rem;
    margin-top: 1.5em;
}

.calculator {
    padding: 15px;
    height: 400px;
    width: 250px;
    justify-self: center;
    background-color: #000;
    border-radius: 15px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}

/*head of calculator*/

.calc-head {
    flex-basis: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.calc-head .title {
    padding: 7px 10px;
    background-color: #346beb;
    border-radius: 5px;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.calc-head .cycle {
    min-width: 2.8em;
    min-height: 2em;
    background-color: #346beb;
    color: #fff;
    border-radius: 50%;
    position: relative
}

.calc-head .cycle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 1.5em;
    min-height: 1em;
    border: solid #000 0.1em;
    border-radius: 35%;
}

.calc-head .cycle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 0.7em;
    min-height: 0.2em;
    background-color: #000;
}

/*Screen starts here*/

.calc-screen {
    flex-basis: 100%;
    width: 100%;
    border: #dadcdd9d solid 1.5px;
    outline: inset #00000040;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
}

.calc-screen #text {
    text-align: right;
    padding: 6px 10px;
    font-size: 1.5rem;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: right;
    color: #a5a5a5;
    outline: none;
    background-color: transparent;
    padding: 3px 10px;
    /* #d7dae0; */
    border: none;
}

.calc-screen #results {
    text-align: right;
    font-size: 1.8rem;
    flex-basis: 100%;
    max-width: 100%;
    height: 55%;
    padding: 3px 10px;
    outline: none;
    color: #a5a5a5;
    border: none;
    background-color: transparent;
}

/*Buttons (calc-btns) starts*/

.calc-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.08em;
}

.zero {
    width: 48.9%;
    border-radius: 50px;
}

.item1 {
    background-color: #696969;
    transition: ease-in-out 350ms;
}

.item1:hover {
    background-color: #cf6e14;
}

.item2 {
    background-color: #cf6e14;
    transition: ease-in-out 350ms;
}

.item2:hover {
    background-color: #000;
    border: solid #302f2f 0.03px;
}

.number {
    background-color: #000;
    border: solid #302f2f 0.03px;
    transition: ease-in-out 350ms;
}

.number:hover {
    background-color: #696969;
}
